.App {
  text-align: center;
}

form {
  width: 500px;
  margin: auto;
  display: flex;
  gap: 10px;
}

form input{
  padding: 0 10px;
  border-radius: 5px;
  background-color:  #f8f8f8;
  height: 50px;
  border: 1px grey solid;
  color: #4a4a4a;
  outline: none;
  flex-basis: 85%;
  font-size: 20px
}
form button{
  flex-basis: 15%;
  border-radius: 5px;
  background-color: #4a4a4a;
  color: white;
  font-size: 35px;
  border: 1px #4a4a4a solid;
  cursor: pointer;
}


.outerdiv{
  width: 500px;
  margin: auto;
  margin-top: 25px;

}
.outerdiv ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.outerdiv ul li{
  padding: 15px;
  color: #4a4a4a;
  background-color: #dcdcdc;
  border-radius: 5px;
  position: relative;
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
}
.outerdiv ul li .cross-btn{
  height: 100%;
  width: 70px;
  border: none;
  border-radius: 5px;
  background-color: #4a4a4a;
  color: white;
  font-size: 35px;
  position: absolute;
  top: 0;
  right: 0px;
  cursor: pointer;
}

.checktodolist{
  text-decoration: line-through;
}